# Build artifacts
*.o
*.a
*.so
*.dylib
build/

# Test binaries
test/test_*
!test/test_*.c
!test/test_*.h

# Benchmark binaries
bench/bench_*
!bench/bench_*.c
!bench/bench_*.h
!bench/*.clj

# Examples binaries
examples/*
!examples/*.c
!examples/*.h

# Debug files
*.dSYM/
*.su

# Profiling artifacts
*.trace/
*.py

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~
compile_commands.json
.cache/
.clj-kondo/
.lsp/
.nrepl-port
.cpcache/
.clangd

# OS files
.DS_Store
Thumbs.db
